@import "tailwindcss";

:root {
  --midnight: #041E42;
  --cream: #F3EFE0;
  --gold: #C1A35F;
  /* This creates a native smooth scroll for the whole page */
  scroll-behavior: smooth;
}

@theme inline {
  --color-midnight: var(--midnight);
  --color-cream: var(--cream);
  --color-gold: var(--gold);
  --font-serif: var(--font-playfair);
  --font-sans: var(--font-inter);
}

body {
  background: var(--midnight);
  color: var(--cream);
  font-family: var(--font-sans);
}

/* This is the secret sauce for Safari and Fixed Headers */
section {
  scroll-margin-top: 100px;
}